body {
    font-family: sans-serif;
}

#statusDiv {
    height: 10vh;
    overflow: auto;
    white-space: pre;
}

.characteristicDiv {
    display: flex;
}

.characteristicDiv > * {
    flex: 1;
}
